# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environments
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints

# Data files
*.csv
*.zip
*.json
*.xlsx

# Streamlit & cache
.streamlit/
logs/

# System files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
